#upload{
    margin-bottom: 10px;
}

#chart-container{
    width: 700px;
    height: 350px;
    margin: 0;
    padding: 0;
}

#chart-container-little{
    width: 200px;
    height: 120px;
    margin: 0;
    padding: 0;
}

#name{
    width: 700px;
}
