
<h1>History</h1>

<div ng-controller="HistoryCtrl">
    <h3 ng-repeat="upload in history track by $index">
        {{upload.name}}
        <div id="chart-container-little" class="littleChart" ng-controller="PieCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="upload.values" chart-labels="upload.keys"></canvas>
        </div>
    </h3>

</div>
