
<h1>Upload</h1>

<div  ng-controller="UpploadCtrl">
    <input id="upload" type="text" name="text" placeholder="File name" ng-model="fileName">
    <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files, this.text)"/>
</div>

<div id="chart-container" ng-controller="PieCtrl">
    <canvas align="center" id="pie" class="chart chart-pie" chart-data="data.values" chart-labels="data.keys"></canvas>
</div>

<div id="name" ng-controller="nameCtrl">
    <h1 align="center">{{data.name}}</h1>
</div>